<%- include('./includes/head.ejs')  %> 
  <body data-sidebar="dark">
    <div id="layout-wrapper">
   <%- include('./includes/header.ejs')  %> 
   <%- include('./includes/sidebar.ejs')  %> 

      <div class="main-content">
        <div class="page-content">
          <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
              <div class="col-12">
                <div
                  class="page-title-box d-flex align-items-center justify-content-between"
                >
                  <h4 class="mb-0 font-size-18">Getting Started</h4>

                  <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                      <li class="breadcrumb-item">
                        <a href="javascript: void(0);">Docs</a>
                      </li>
                      <li class="breadcrumb-item active">Getting Started</li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
            <!-- end page title -->

            <div class="card">
              <div class="card-body">
                <div class="p-lg-3">
                  <h5 class="mt-0 mb-2">Introduction</h5>
                  <p>
                    Minible is a fully featured, multi-purpose admin template
                    built with Bootstrap v5.0.0-beta2, HTML5, CSS3 and JQuery
                    and Nodejs ( EJS – Embedded Javascript Templates). It’s a
                    fully responsive and have the very clean user interface that
                    comes with a huge collection of components, widgets, UI
                    elements.
                  </p>
                </div>

                <div class="p-lg-3">
                  <h5 class="mt-0 mb-2">Structure</h5>
                  <p>
                    Extract the zip file you received after purchase and you
                    would find the exact below files and folders:
                  </p>

           
            
                </div>
                <!-- end padding-->
              </div>
              <!--end card body-->
            </div>
            <!-- end card-->
          </div>
          <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

     <%- include('./includes/footer.ejs')  %> 
      </div>
      <!-- end main content-->
    </div>
    <!-- END layout-wrapper -->

    <%- include('./includes/end.ejs')  %> 

  </body>
</html>
